.navbar {
  background-color: var(--color-primary-2);
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a08cbe;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.199);
  width: 100%;
}

.navText {
  font-weight: 500;
  cursor: pointer;
}
