.cardFront,
.cardBack {
  width: 160px;
  height: 160px;
}

.card img {
  border-radius: 7px;
  border: 2px solid #47315f;
}
.card img:hover {
  border: 2px solid #5d25a7;
}

.card {
  position: relative;
  margin: 15px;
  text-align: center;
}

.card .cardFront {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .cardFront {
  transform: rotate(0deg);
  transition-delay: 0.2s;
}

.card .cardBack {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .cardBack {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (max-width: 800px) {
  .cardFront,
  .cardBack {
    width: 100px;
    height: 100px;
  }
  .card {
    margin: 5px;
  }
}
