.cardFront,
.cardBack {
  width: 180px;
  height: 180px;
}

.card img {
  border-radius: 7px;
  border: 2px solid #3c2b50;
}

.card {
  position: relative;
}

.card .cardFront {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .cardFront {
  transform: rotate(0deg);
}
